@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e3e7ec;
    overflow: hidden;
    /* Evita scrolls innecesarios */
}

.start-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    padding: 20px 40px;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    background-color: #294FFF;
    color: #f3edeb;
    border-radius: 20px;
    position: relative;
    user-select: none;

    box-shadow: 0px 8px 0px #ffca28;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.start-button:active {
    transform: translateY(4px);
    box-shadow: 0px 4px 0px #ffca28;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Contenedor de los botones */
.options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.question {
    font-size: 96px;
    font-weight: 700;
    color: #333;
    text-shadow: 2px 2px 0px #fff;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}

/* Estilo 3D para los botones DIV */
.answer-button {
    padding: 20px 40px;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    background-color: #ffca28;
    color: #5d4037;
    border-radius: 20px;
    position: relative;
    user-select: none;
    /* Evita que se seleccione el texto al hacer clic rapido */
    box-shadow: 0px 8px 0px #f57f17;
    /* Sombra 3D */
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.answer-button:hover {
    transform: translateY(-2px);
    background-color: #ffd54f;
}

/* Efecto de presionado */
.answer-button:active {
    transform: translateY(4px);
    box-shadow: 0px 4px 0px #f57f17;
}

.result {
    font-size: 42px;
    font-weight: 800;
    color: #2e7bf0;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 5vh;
    font-size: 16px;
    color: #777;
}

footer a {
    color: #2e7bf0;
    text-decoration: none;
    font-weight: 600;
}